
@font-face {
    font-family: "Born2bSportyV2";
    src: url('/fonts/Born2bSportyV2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TimesNewPixel";
    src: url('/fonts/TimesNewPixel.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Quintet";
    src: url('/fonts/Quintet.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SixteenPixelMSDOSBitmapFontIII";
    src: url('/fonts/SixteenPixelMSDOSBitmapFontIII.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gothbit";
    src: url('/fonts/Gothbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a h1 {
    text-decoration: none;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

ul {
    font-size: 24px;
    text-align: left;
}

a {
    color: white;
}

.pixel-font {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: none;
}

.pixelated_image {
    image-rendering: pixelated;
}

.scale-2 {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    display: inline-block;
    margin: 10px;
}

.logo {
    margin-top: 60px;
}

.disabled-img {
    opacity: 0.5;
}

a.no-underline {
    text-decoration: none;
}


body {
    background-color: black;
    color: white;
    image-rendering: pixelated;
    -webkit-font-smoothing: none;
    filter: contrast(1);
}

header {
    text-align: center;
}

header.header-small {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

header.header-small h1 {
    font-size: 32px;
}

.project-title-gothbit {
    font-family: "Gothbit";
    font-size: 64px;
    text-align: center;
}

.project-title-born2b {
    font-family: "Born2bSportyV2";
    font-size: 64px;
    text-align: center;
}

footer {
    text-align: center;
}

.centered-justified {
    width: 600px;
    margin: 0 auto; /* Centers the element horizontally */
    text-align: justify; /* Justifies the text */
}

/* For smaller screens, adjust the width to 100% */
@media (max-width: 768px) {
    .centered-justified {
        width: 90%; /* Use 90% width for better responsiveness */
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 32px;
    }

    ul {
        font-size: 16px;
    }
}

/* For very small screens (mobile devices), adjust the width further */
@media (max-width: 480px) {
    .centered-justified {
        width: 100%; /* Take up full width on smaller screens */
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 32px;
    }

    ul {
        font-size: 16px;
    }
}

/* TOOLTIPS */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-family: "TimesNewPixel";
    font-size: 24px;
    visibility: hidden;
    width: 260px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -130px; /* Use half of the width (120/2 = 60), to center the tooltip */

    opacity: 0;
    transition: opacity 1s;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

/* COLORS */
.green:hover, .yellow:hover, .blue:hover {
    color: white;
}

.green {
    color: lime;
}

.green:visited {
    color: greenyellow;
}

.blue {
    color: mediumturquoise;
}

.blue:visited {
    color: cadetblue; 
}

.yellow {
    color: yellow;
}

.yellow:visited {
    color: orange;
}

/* SLIDESHOW */
.slideshow-image {
    display: none;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.display-container {
    position: relative;
}


.display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}

.large {
    font-size: 18px;
}

.container {
    padding: 0.01em 16px;
}

.padding-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.black {
    background-color: #000 !important;
    color: #fff !important;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}